/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    background: white url("../img/bg-body.png") top left no-repeat;
    color: #475763;
    font: 16px/26px "roboto",sans-serif;;
}

h2, h3 {
    font-family: "rift-soft",sans-serif;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 10px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 32px;
    margin-top: 10px;
}

img {
    max-width: 220px;
}

a {
    color: #00c8d6;
    font-style: italic;
    font-weight: 700;
    text-decoration: none;
}

p {
    font-size: 17px;
    margin-top: 10px
}

.container {
    padding: 25px;
    max-width: 780px;
}

.sep {
    height: 21px;
    background-image: linear-gradient(-195deg, #00C7D6 2%, #007AD1 100%);
    border: none;
}

@media (min-width:600px) {
    .container {
        padding: 40px;
    }
    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 36px;
        margin-top: 10px;
    }


    p {
        font-size: 20px;
        margin-top: 10px
    }
}
@media (min-width:801px) {
    .container {
        padding: 80px;
    }
}
@media (min-width:1025px) { 
    .container {
        padding: 120px;
    }
 }




