/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


body {
    background: white url("../img/bg-body.png") top left no-repeat;
    background-size: cover;
    color: #00322e;
    font: 17px/24px "roboto",sans-serif;;
}

h2, h3 {
    font-family: "rift-soft",sans-serif;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 10px;
}

h2 {
    font-size: 52px;
}

.header h2 {
    margin-top: 0;
}

h3 {
    font-size: 42px;
    margin-top: 10px;
}

img {
    max-width: 300px;
}

a {
    color: #00b675;
    text-decoration: none;
}

p {
    font-size: 17px;
    margin-top: 10px
}

.wrapper {
    margin-bottom: 30px;
}

.container {
    padding: 10px 25px;
    max-width: 780px;
}

.team-members {

}

.team-member {
    font-size: 14px;
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #dfe3e2;
}

.team-member-name {
    font-weight: 900;
}

.button {
    background-color: #00b675;
    display: inline-block;
    color: white;
    font-weight: 700;
    padding: 13px 20px;
}

@media (min-width:600px) {



}
@media (min-width:801px) {
    p {
        font-size: 20px;
        line-height: 1.3em;
        margin-top: 10px;
    }
    .wrapper {
        margin-top: 20px;
        
    }
    .container {
        padding: 35px 80px;
    }

    .team-members {
        border-top: 1px solid #dfe3e2;
        border-bottom: 1px solid #dfe3e2;
        margin-top: 30px;
        padding: 5px 0;
    }

    .team-member {
        font-size: 18px;
        display: inline-block;
        list-style-type: none;
        padding-left: 0;
        padding-bottom: inherit;
        border-bottom: none;
        margin-right: 30px;
    }

}
@media (min-width:1025px) { 
    h2 {
        font-size: 64px;
    }

    h3 {
        font-size: 48px;
    }

 }




