@import "./partials/normalize.css";
@import "./partials/boilerplate.css";
@import "./partials/layout.css";
@import "./partials/blocks.css";
@import "./partials/navigation.css";
@import "./partials/footer.css";

body {
    /*background: white url("../img/bg-body.png") top left no-repeat;*/
    background-size:100% 720px;
    color: #00322e;
    font: 17px/24px "roboto",sans-serif;;
}

h2, h3, h4 {
    font-family: "rift-soft",sans-serif;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 10px;
}

h2 {
    font-size: 52px;
}

.header h2 {
    margin-top: 0;
}

h3 {
    font-size: 42px;
    margin-top: 10px;
}

h4 {
    font-size: 30px;
    margin-top: 20px;
}

img {
    max-width: 300px;
}

a {
    color: #00ba7f;
    text-decoration: none;
}

p {
    font-size: 17px;
    margin-top: 10px
}

.wrapper {
    margin-bottom: 30px;
    max-width: 1140px;

}

.container {
    padding: 10px 25px;
}

.header p {
 font-size: 20px;
 line-height: 1.3em;
}


.team-members {

}

.team-member {
    font-size: 14px;
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #dfe3e2;
}

.team-member-name {
    font-weight: 900;
}

.button {
    background-color: #00ba7f;
    display: inline-block;
    color: white;
    font-weight: 700;
    padding: 13px 20px;
}

@media (min-width:600px) {



}
@media (min-width:801px) {
    .blocks
    p {
        font-size: 20px;
        line-height: 1.3em;
        margin-top: 10px;
    }
    .wrapper {
        margin-top: 20px;
        
    }
    .container {
        padding: 35px 80px;
    }

    .team-members {
        border-top: 1px solid #dfe3e2;
        border-bottom: 1px solid #dfe3e2;
        margin-top: 30px;
        padding: 5px 0;
        margin-bottom: 50px;
    }
    
    .container.team {
        margin-top: 80px;
    }

    .team-member {
        font-size: 17px;
        display: inline-block;
        list-style-type: none;
        padding-left: 0;
        padding-bottom: inherit;
        border-bottom: none;
        margin-right: 20px;
    }


}
@media (min-width:1025px) { 
    h2 {
        font-size: 64px;
    }

    h3 {
        font-size: 48px;
    }

 }




