@media only screen and (max-width:1440px){
	.container{max-width: 1440px;width: 100%;}
}
@media only screen and (max-width:991px){
	h2,.home_04 h2{font-size: 32px;}
	.inner_container{width: auto;padding: 0 15px;}
	.banner{overflow: hidden;}
	.page-img{left: 65%;}
	.banner_logo{width:265px;}
	.banner .container{padding: 70px 0 160px;}
	.banner h1{font-size: 58px;max-width: 80%; line-height: 1.17;}
	.banner .inner_container:before{left:15px;    bottom: -160px;}
	.bbt{bottom: 15px;}
	.small_block .h01_img{height: 386px;}
	.big_block .h01_img{height: 512px;}
	.h01_inner,.home_02 .inner_container{padding-bottom: 100px;}
	.home_02 .inner_container:before, .home_03 .inner_container:before{left: 15px;}
	.home_03 .inner_container{padding-bottom: 20px;}
	.home_04 h2{    padding: 90px 0 35px;}
	.form-section .col-sm-5{padding-left: 0;}
	.home_04{    padding: 0 0 80px;}
}
@media only screen and (max-width:991px){
	
}
@media only screen and (max-width:767px){
	h2,.home_04 h2{font-size: 24px;}
	.page-img{display: none;}
	.banner .container{padding: 20px 0 100px;}
	.banner .inner_container:before{bottom: -100px;}
	.banner_logo{width:290px;}
	.banner h1{font-size: 38px;line-height: 1.26;    max-width: 100%;}
	.banner h1{padding: 35px 0;}
	.green-btn{font-size: 20px;}
	.bbt{display: none;}
	.home_01{padding-top: 45px;}
	.big_block .h01_img,.small_block .h01_img{height: 362px;}
	.block .h01_txt h3, .block .h01_txt h3 a{font-size: 20px;line-height: 2.83;}
	.block .h01_txt p{font-size: 14px;}
	.home_02{padding: 45px 0 0;}
	.h02_rt{float: none;}
	.h02_lt{float: none;margin: 42px 0 0;}
	.cat_div{    padding: 55px 30px;}
	.cat_div p{font-size: 22px;}
	.home_03{padding: 40px 0 0;}
	.logo_banner{padding: 20px 0 0;}
	.logo_banner .logo_img{    padding-bottom: 0;margin-bottom: 5px;}
	.logo_banner .logo_img{background: #f4f4f4;text-align: center;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px; -o-border-radius: 5px; padding: 8px 0;}
	.home_03 .inner_container{    padding-bottom: 90px;}
	.home_04 h2{padding: 45px 0;}
	.form-section .col-sm-5{display: none;}
	.help{bottom: 0;}
	.navbar-toggle{margin-top: 21px;}
	.navbar-default .navbar-toggle{border-color: #18d399;}
	.navbar-default .navbar-toggle .icon-bar{background-color: #18d399;}
	.main-nav .nav li:nth-child(1){display: none;}
	#header .collapse.in{display: none;}
	#header.sticky_header .collapse.in{display: block;}

}
@media (max-width: 600px) {
	.blockchain .banner p {
		font-size: 24px;
	}
	.blockchain .home_04 h2 {
		font-size: 20px;
	}
	.blockchain .banner::before {
		-webkit-background-size: 230%;
		background-size: 230%;
	}
}
@media only screen and (max-width:480px){
	.green-btn{width: 100%;}
}